html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
height: 100%;
width: 100%;
}


.header {
	position: fixed;
	top: 0em;
	left: 0em;
	right: 0em;
	margin: 0px;
	padding-top: .3em;
	height: 3.5em;
	width: 100%;
	background-color: #465ACF;
}

@media (orientation:landscape){
h1 {
	margin: 0em;
	color: white;
	text-align: center;
	font-family: tahoma;
	font-size: 2em;
	font-style: italic;
}
}

@media (orientation:portrait){
h1 {
	margin: 0em;
	color: white;
	text-align: center;
	font-family: tahoma;
	font-size: 2em;
	font-style: italic;
}
}

.main {
	position: fixed;
	top: 3.5em;
	left: 0em;
	width: 100%;
	height: 100%;
}

.timeBar {
	position: fixed;
	top: 3.5em;
	left: 0em;
	width: 100%;
	background-color: black;
	height: 1em;
	margin: 0em;
	border: 0em;
	padding: 0em;
}

.timeLabel {
	text-align: center;
	margin-bottom: auto;
	margin-top: auto;
	font-size: .8em;
}

.roomContainer {
	position: fixed;
	top: 4.5em;
	width: 1.5em;
	height: 100%;
	background-color: black;
}

.room {
	padding-top: 3.75em;
/*	height: 8.5em;*/
	height: 22.1%;
	text-align: center;
	font-size: 1em;
}

/*.next {
	transform: 3dtranslate(100%, 0, 0);
}*/

.talkBoxContainer {
	float: left;
	margin-top: 1em;
	margin-left: 1.5em;
	height: 100%;
	width: 100%;
	background-color: grey;
}

@media (orientation: landscape){
.talkBox {
/*	height: 8.5em;*/
	height: 22%;
	width: 33%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}

@media (orientation: portrait){
.talkBox {
/*	height: 8.5em;*/
	height: 22%;
	width: 100%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}


.talkTitle {
	color: white/*#B7B7B7*/;
	text-align: left;
	float: left;
}

@media (orientation: landscape){
.talkDescription {
	display: none;
/*	color: gray;
	clear: both;
	margin-right: 2em;*/
}
}

@media (orientation: portrait){
.talkDescription {
	color: gray;
	clear: both;
	margin-right: 2em;		
}
}	
	
@media (orientation: landscape) {
.talkTime {
	color: white;
	vertical-align: bottom;
	margin-top: .5em;
	margin-right: 2em;
	float: left;
	text-align: left;
	clear: both;
}
}	
	
@media (orientation: portrait) {
.talkTime {
	color: white;
	vertical-align: bottom;
	margin-top: 1.5em;
	margin-right: 2em;
	float: left;
	text-align: left;
	clear: both;
}	
}	
		

@media (orientation: landscape) {
.talkSpeakers {
	display: none;	
	/*color: red;
	vertical-align: bottom;
	margin-top: 1.5em;
	margin-right: 2em;
	float: right;
	text-align: right;*/	
}
}

@media (orientation: portrait) {
.talkSpeakers {
	color: white;
	vertical-align: bottom;
	margin-top: 1.5em;
	margin-right: 2em;
	float: right;
	text-align: right;
	
}
}

@media (orientation: landscape) {
.favStar {
	float: right;
	margin-right: .5em;
	height: 1.5em;
}
}

@media (orientation: portrait) {
.favStar {
	float: right;
	margin-right: 2em;
	height: 1.5em;
}
}


p {
	font-size: .75em;
	color: white;
	margin: 0em;
	border: 0px;
	padding: 0em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	padding-top: 0em;	
	margin-top: 0em;
/*	text-decoration: underline;*/
}

.next {
padding-left: 100%;
margin-left: 100%;
}

/*.line1 {
