html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
height: 100%;
width: 100%;
}

.header {
	position: fixed;
/*	position: relative;*/
	top: 0em;
	left: 0em;
	right: 0em;
	margin: 0px;
	padding-top: .3em;
	height: 3.5em;
	width: 100%;
	background-color: #465ACF;
	text-align: center;
}

h1 {
	margin: 0em;
	color: white;
	text-align: center;
	font-family: tahoma;
	font-size: 2em;
	font-style: italic;
}

.roomContainer {
	position: fixed;
	top: 4.5em;
	left: 0;
	width: 1.5em;
	height: 100%;
	background-color: black;
}

.room {
	padding-top: 3em;
	height: 22%;
	text-align: center;
	font-size: 1em;
}

.main {
	position: fixed;
	top: 3.5em;
	left: 0em;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	transition: left .5s
}

.page1 {
	left: 0%;
}

.page2 {
	left: -100%;
}

.spacer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1.5em;
	background-color: black;
}

.timeBar {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	background-color: black;
	height: 1em;
	margin: 0em;
	border: 0em;
	padding: 0em;
}

.timeLabel {
	text-align: center;
	font-size: .8em;
}	

.container {
	margin-top: 1.05em; /*avoids timeBar and adds top border effect*/
	height: 100%;
}

.talkBoxContainer {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0em;
	padding-top: 0em;
	height: 100%;
	width: 100%;
	background-color: grey;
}

#talkBoxContainer1 {
	position: absolute;
	top: 0;
	padding-left: 1.5em;
}

#talkBoxContainer2 {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 1.5em;
}

@media (orientation: landscape){
.talkBox {
	position: relative;
	height: 22%;
	width: 33%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}

@media (orientation: portrait){
.talkBox {
	position: relative;
	height: 22%;
	width: 100%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}

.talkTitle {
	color: white/*#B7B7B7*/;
	text-align: left;
	position: absolute;
	top: .5em;
	left: .5em;
}

@media (orientation: landscape){
.talkDescription {
	display: none;
	color: whitesmoke;
	padding-right: 3em;
}
}

@media (orientation: portrait){
.talkDescription {
	position: absolute;
	top: 2em;
	color: grey;
	padding-right: 3em;
}
}	
	
@media (orientation: landscape) {
.talkTime {
	position: absolute;
	bottom: .5em;
	left: .5em;
	color: white;
	text-align: left;
}
}	
	
@media (orientation: portrait) {
.talkTime {
	position: absolute;
	bottom: .5em;
	left: .5em;
	color: white;
	text-align: left;
}	
}	

@media (orientation: landscape) {
.favStar {
	float: right;
	margin-right: .5em;
	height: 1.5em;
}
}

@media (orientation: portrait) {
.favStar {
	float: right;
	margin-right: .5em;
	height: 1.5em;
}
}

p {
	font-size: .75em;
	color: white;
	margin: 0em;
	border: 0px;
	padding: 0em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	padding-top: 0em;	
	margin-top: 0em;
}
