html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
height: 100%;
width: 100%;
}

h1 {
	margin: 0em;
	padding-left: 0em;
	padding-top: .3em;
	color: black;
	text-align: center;
	font-family: tahoma;
	font-size: 1.5em;
	font-style: italic;
}

h2 {

	font-size: 1em;
	font-weight: bold;
	padding-top: 0em;	
	margin-top: 0em;
}

h3 {
	padding-left: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

p {
	font-size: .75em;
	color: white;
	margin: 0em;
	border: 0px;
	padding: 0em;
}

/*---------------------------------------------------------------*/

.header {
	position: fixed;
/*	position: relative;*/
	top: 0em;
	left: 0em;
	right: 0em;
	margin: 0px;
	padding-top: .3em;
	height: 3.5em;
	width: 100%;
	background-color: #FFFF75;
	text-align: center;
}

.menuButton {
	position: fixed;
	left: -.5em;
	top: .7em;
	height: 2em;
	transition: left .5s;
}

.icon {
	position: fixed;
	left: 2em;
	top: .2em;
	height: 3em;
}

.hidden {
	display: none;
}

/*---------------------------------------------------------------*/

.main {
	position: fixed;
	top: 3.5em;
	left: 0em;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	transition: left .5s;
}

/*---------------------------------------------------------------*/

.roomContainer {
	position: fixed;
	top: 4.5em;
	left: 0;
	width: 1.5em;
	height: 100%;
	background-color: black;
}

.room {
	padding-top: 3em;
	height: 22%;
	text-align: center;
	font-size: 1em;
}

/*---------------------------------------------------------------*/


.page1 {
	left: 0%;
}

.page2 {
	left: -100%;
}

.spacer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1.5em;
	background-color: black;
}

/*---------------------------------------------------------------*/

.timeBar {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	background-color: black;
	height: 1em;
	margin: 0em;
	border: 0em;
	padding: 0em;
}

.timeLabel {
	text-align: center;
	font-size: .8em;
}	

/*---------------------------------------------------------------*/

.container {
	margin-top: 1.05em; /*avoids timeBar and adds top border effect*/
	height: 100%;
}

.talkBoxContainer {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0em;
	padding-top: 0em;
	height: 100%;
	width: 100%;
	background-color: grey;
}

#talkBoxContainer1 {
	position: absolute;
	top: 0;
	padding-left: 1.5em;
}

#talkBoxContainer2 {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 1.5em;
}

@media (orientation: landscape){
.talkBox {
	position: relative;
	height: 22%;
	width: 33%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}

@media (orientation: portrait){
.talkBox {
	position: relative;
	height: 22%;
	width: 100%;
	margin: .05em; /*creates border effect */
	padding: .5em;
	background-color: #1E1E1E;
}
}

.talkTitle {
	color: white/*#B7B7B7*/;
	text-align: left;
	position: absolute;
	top: .5em;
	left: .5em;
	right: 2.5em;
}

@media (orientation: landscape){
.talkDescription {
	display: none;
	color: whitesmoke;
	padding-right: 3em;
}
}

@media (orientation: portrait){
.talkDescription {
	position: absolute;
	top: 2em;
	color: grey;
	padding-right: 3em;
}
}	
	
@media (orientation: landscape) {
.talkTime {
	position: absolute;
	bottom: .5em;
	left: .5em;
	color: white;
	text-align: left;
}
}	
	
@media (orientation: portrait) {
.talkTime {
	position: absolute;
	bottom: .5em;
	left: .5em;
	color: white;
	text-align: left;
}	
}	

@media (orientation: landscape) {
.favStar {
	float: right;
	margin-right: .5em;
	height: 1.5em;
}
}

@media (orientation: portrait) {
.favStar {
	float: right;
	margin-right: .5em;
	height: 1.5em;
}
}

/*---------------------------------------------------------------*/

.menu {
	position: fixed;
	top: 3.5em;	
	left: -18em;
	height: 95%;
	width: 18em;
	padding-top: 10%;
	margin: 0;
	background-color: black;
	transition: left .5s;
}

.menuContainer {
	position: fixed;
	top: 3.5em;	
	left: -18em;
	height: 95%;
	width: 19.5em;
	margin: 0;
	transition: left .5s;

}

@media (orientation: landscape) {
	.menu {
	position: fixed;
	top: 3.5em;	
	left: -18em;
	height: 95%;
	width: 18em;
	padding-top: 1%;
	margin: 0;
	background-color: black;
	transition: left .5s;
}
}

@media (orientation: portrait) {
	.menu {
	position: fixed;
	top: 3.5em;	
	left: -18em;
	height: 95%;
	width: 18em;
	padding-top: 10%;
	margin: 0;
	background-color: #1A1A1A;
	transition: left .5s;
}
}

.menuOpen {
		left: 0em;
}

.menuClosed {
		left: -18em;
}

.menuIcon {
	height: 2em;
	padding-right: 1em;
	margin: 0;
	display: inline;
	vertical-align: middle;

}

.menuOptions {
	display: inline;
	font-weight: bold;
	font-size: 1em;
	color: whitesmoke;
}

.menuButtonOpen {
	left: -1em;
}

.menuButtonClose {
	left: -.5em;
}

ul {
	height: 90%;
	padding: 0;
	margin-top: 0;
	color: white;
	list-style-type: none;
}

li {
	height: 15%;
	padding-top: 1em;
	padding-left: 2em;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
